html {
    background: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    min-width: 400px;
    max-width: 1440px;
    margin: 0px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

p {
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
}

.mainSection h1 {
    margin-top: 36px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.mainText {
    margin-bottom: 50px;
}

.mainText h2 {
    margin-top: 34px;
    margin-bottom: 13px;
    margin-right: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.mainText h3 {
    margin-top: 14px;
    margin-bottom: 41px;
    margin-right: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.mainText a {
    margin-right: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.mainSection {
    color: #FFFFFF;
    display: flex;
    background: linear-gradient( rgba(198, 108, 73, 0.4), rgba(198, 108, 73, 0.4)), url(img/mainPhone.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainSection button {
    position: absolute;
    color: #FFFFFF;
    background-color: unset;
    border: unset;
    top: 40px;
    left: 34px;
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 24px;
}

.about {
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about h1 {
    margin-top: 25px;
    margin-bottom: 19px;
    margin-right: 5px;
    font-weight: 600;
}

.about p {
    text-align: justify;
    margin: 20px 34px;
}

.skills {
    background: #FFFAF2;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 4px;
}

.skills h1 {
    margin-top: 38px;
    margin-bottom: 25px;
}

.skills img {
    width: 220px;
    margin-right: 4px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px 34px;
    margin-top: 18px;
    width: 80%;
}

li {
    display: flex;
    flex-direction: column;
    margin: 6px 0px;
    text-align: left;
}

.bruh {
    margin-bottom: 11px;
}

.progressBar {
    display: flex;
    justify-content: space-around;
    margin: 9px 0px;
}

.skilText {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.skilText p {
    margin: 0px;
    line-height: 25px;
    width: 213px;
}

h6 {
    width: 30%;
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}

.bar1 {
    width: 211px;
    height: 18px;
    z-index: 0;
    background: #F5D6AB;
}

.bar2 {
    width: 135px;
    height: 18px;
    z-index: 1;
    background: #C66C49;
}

.bar3 {
    width: 165px;
    height: 18px;
    z-index: 1;
    background: #C66C49;
}

.bar4 {
    width: 180px;
    height: 18px;
    z-index: 1;
    background: #C66C49;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio h1 {
    margin-top: 43px;
}

.portfolio h2 {
    margin-top: 2px;
    margin-right: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}

.portfolio p {
    margin: 4px 30px;
}

.imgBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 90%;
    margin: 10px 1px;
    height: 250px;
}

.imgBox img {
    margin-left: 4%;
}

.img1 {
    height: 30%;
}

.img2 {
    height: 50%;
}

.getIn {
    margin: 3px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #FFFAF2;
}

.getIn ul {
    margin: 0px 0px;
}

.getIn li {
    margin: 8px 46px;
}

.getIn div {
    display: flex;
    justify-content: space-between;
}

.getIn section {
	margin: 8px 40px;
    display: flex;
    justify-content: space-between;
}

.main-bar {
    display: none;
    flex-direction: row;
    justify-content: space-around;
}

.main-bar p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media only screen and (min-width: 960px) {
    .mainSection {
        background: linear-gradient( rgba(198, 108, 73, 0.3), rgba(198, 108, 73, 0.3)), url(img/main.png);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: flex-start;
        padding: 0px 10%;
    }
    .mainSection button {
        display: none;
    }
    h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
    p {
        font-size: 18px;
    }
    .mainSection h1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .mainText {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 100px;
        margin-bottom: 250px;
    }
    .mainText h2 {
        font-size: 64px;
        line-height: 78px;
    }
    .mainText h3 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 100px;
    }
    .mainText a {
        font-size: 18px;
        line-height: 22px;
    }
    .main-bar {
        display: flex;
        width: 50%;
    }
    .about {
        flex-direction: column;
        justify-content: center;
        text-align: left;
        align-items: left;
        padding: 0px 10%;
    }
    .about h1 {
        margin: 80px 0px;
    }
    .about p {
        margin: 0px;
        margin-bottom: 115px;
        text-align: justify;
        font-size: 18px;
        line-height: 30px;
    }
    .skills {
        flex-direction: row;
        text-align: left;
        flex-wrap: wrap;
        height: 700px;
        padding: 0% 10%;
        align-items: flex-start;
        justify-content: space-between;
    }
    .skills h1 {
        width: 100%;
    }
    .skills img {
        width: 40%;
    }
    .skills ul {
        width: 50%;
        margin: 0px;
        justify-content: space-around;
        height: 60%;
    }
    .skilText {
        width: 100%;
        display: flex;
    }
    .skilText p {
        margin: 0px;
        width: 80%;
        font-size: 18px;
    }
    h6 {
        font-size: 18px;
    }
    .bar1 {
        width: 80%;
        height: 24px;
    }
    .bar2 {
        width: 70%;
        height: 24px;
    }
    .bar3 {
        width: 78%;
        height: 24px;
    }
    .bar4 {
        width: 84%;
        height: 24px;
    }
    .portfolio {
        flex-wrap: wrap;
        height: 820px;
        text-align: left;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0px 10%;
    }
    .portfolio h2 {
        font-size: 18px;
        width: 100%;
    }
    .portfolio p {
        width: 30%;
        margin: 0px;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
    }
    .imgBox {
        width: 60%;
        margin: 10px 20px;
        height: 50%;
    }
    .imgBox img {
        margin-left: 5%;
    }
    .getIn {
        flex-direction: row;
        text-align: left;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
        padding: 10% 10%;
        margin: 0%;
    }
    .getIn h1 {
        width: 100%;
        padding-bottom: 5%;
    }
    .getIn li {
        font-size: 18px;
        line-height: 22px;
    }
    .getIn div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}